<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.typekit.net/zgu2dee.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
    <nav>
        <img src="logo.svg">
        <ul class="navbar">
            <a href="/"><li>Home</li></a>
            <a href="/"><li>Our Work</li></a>
            <a href="/"><li>Services</li></a>
            <a href="/"><li>The Team</li></a>
            <button href="/contact">Contact Us</button>
        </ul>
    </nav>
    <div class="custom-cursor"></div>

<body>
    